/* Main container for the body map */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  margin-top: 150px; /* Adjust this value based on the height of your navbar */
  padding: 0 20px;
  gap: 20px;
}
.div {
  color : #ffffff
}

/* Left column for body map - 40% width */
.body-map-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Base style for the SVG, applied to both front and back views */
.svg-body {
  width: 100%;
  max-width: 400px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: white;
}

/* Apply styles only to paths with an id attribute */
.svg-body path[id] {
  fill: transparent; /* Initial transparency */
  stroke: #666; /* Border color */
  transition: fill 0.3s ease, stroke 0.3s ease; /* Smooth transition */
}

/* Highlight on hover only for paths with an id */
.svg-body path[id]:hover {
  fill: rgba(255, 85, 0); /* Light blue semi-transparent */
  stroke: rgb(255, 85, 0); /* Darker border on hover */
}

/* Style for the selected part */
.svg-body .selected {
  fill: rgba(100, 149, 237, 0.5); /* More opaque blue for selection */
  stroke: #1e90ff; /* Blue border */
}

/* Smaller aesthetic orange button below body map */
.toggle-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #ff7f50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  width: 60%; /* Smaller width for a more compact look */
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
  background-color: #ff6347;
  transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Right column for exercise list and videos - 60% width */


/* Style for exercises content */
.exercise-list-container h2 {
  margin: 0;
  font-size: 1.5em;
  color: #ff7f50;
}

.exercise-list-container p,
.exercise-list-container li {
  font-size: 1em;
  color: #cccccc;
}

/* Toggle visibility for front and back views */
.hide-front {
  display: none;
}

.show-back {
  display: flex !important; /* Ensures the back view remains centered */
  align-items: center;
  justify-content: center;
}

.back-view {
  display: none; /* Hide back view by default */
}

/* Information box to display details */


.muscle-info h2 {
  margin: 0;
  font-size: 1.5em;
  color: #ff7f50;
}

.muscle-info p {
  margin: 10px 0 0;
  font-size: 1em;
  color: #cccccc;
}
/* Style pour le fond de la page qui devient flou ou tamisé */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 999; /* Mettre le fond derrière le formulaire */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style pour le formulaire modale */
.modal-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Met le formulaire au-dessus du fond */
  position: relative;
}

.fixed-button {
  top: 20px;
  right: 20px;
  background-color: transparent; /* Fond transparent pour mettre en valeur l'icône */
  border: none;
  font-size: 3rem; /* Taille de l'icône */
  color: #ff5c2b; /* Couleur de l'icône (vert) */
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.fixed-button:hover {
  color: #ff5c2b; /* Change la couleur de l'icône au survol */
  transform: scale(1.1); /* Agrandissement léger au survol */
}

.fixed-button:active {
  transform: scale(0.95); /* Rétrécissement léger lors du clic */
}


.exercise-list-container {
  padding: 20px;
}

.exercise-list {
  margin-left: 300px;
  margin-bottom: 50px;
  flex: 1;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  max-height: 70vh; /* Limite la hauteur pour que seule la liste soit scrollable */
  background-color: #222222;
  border-radius: 8px;
  scroll-behavior: smooth; /* Défilement fluide */
  appearance: none;
  scrollbar-width: none; /* Masque la scrollbar dans Firefox */
}

.exercise-list::-webkit-scrollbar {
  display: none; /* Masque la scrollbar dans Chrome, Safari et Edge */
}


.exercise-card  { 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222222;
  border-radius: 8px;
  padding: 20px;
  scroll-snap-align: start; /* Aligne chaque exercice pour le snap */
  color: #ffffff;
  width: 100%;
  max-width: 500px; /* Ajustez en fonction des besoins */
  margin: 10px;
  margin-bottom: 10px;
}

.exercise-card h3 {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 1.2em;
  color: #ff7f50;
  margin: 0;
}

.exercise-card .likes-button {
  position: absolute;
  bottom: 1px;
  left: 30px;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: red;
}


.exercise-card .video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.exercise-card .details-button {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  color: #ff7f50;
}


.exercise-card .details {
  position: relative;
  margin-bottom: 10px; /* Espace entre le bouton Like et les détails */
  font-size: 0.9em;
  color: #cccccc;
}
.exercise-card .like-count {
  position: absolute;
  bottom: 10px;
  left: 50px;
  transform: translateX(-50%);
  font-size: 0.9em;
  color: #ffffff;
}


.play-button {
  font-size: 2em;
  background-color: #ffffff; /* Couleur de fond rouge */
  color: #FF4000;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: color 0.2s ease, transform 0.2s ease;
}

.play-button:hover {
  color: #ff5c2b;
  transform: scale(1.1); /* Agrandissement léger au survol */
}

.play-button:active {
  transform: scale(0.95); /* Rétrécissement léger lors du clic */
}

/* Styles des boutons */
.play-button, .minus-button {
  font-size: 1.5em;
  color: #ff5c2b;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.play-button:hover, .minus-button:hover {
  color: #ff7f50;
  transform: scale(1.1);
}


.minus-button:active {
  transform: scale(0.95); /* Rétrécissement léger lors du clic */
}

/* Style pour l'étiquette */
label {
  color: orange; /* Couleur similaire à celle des autres étiquettes */
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Style pour le champ select */
select {
  width: 100%;
  padding: 10px;
  background-color: #333; /* Couleur de fond similaire aux champs d'entrée */
  color: #ddd; /* Couleur du texte pour contraster avec le fond */
  border: 2px solid transparent; /* Bordure similaire aux autres champs */
  border-radius: 5px;
  appearance: none; /* Retire le style par défaut du navigateur */
  font-size: 1rem;
  outline: none;
}

/* Style pour afficher un triangle de sélection */
select::after {
  content: "▼"; /* Symbole de triangle pour indiquer le menu déroulant */
  position: absolute;
  right: 15px;
  color: #ddd;
  pointer-events: none;
}

/* Style au survol */
select:hover {
  border-color: #ff5c2b;
}

/* Bouton pour les détails de l'exercice (en bas à droite de chaque carte) */
.exercise-details-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5em;
  color: #ff5c2b;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.exercise-details-button:hover {
  color: #ff7f50;
  transform: scale(1.1); /* Agrandissement léger au survol */
}

.exercise-details-button:active {
  transform: scale(0.95); /* Rétrécissement léger lors du clic */
}

.video-container {
  width: 100%; /* Prend la largeur de la carte */
  height: 100%; /* Permet à la vidéo de s'adapter au conteneur */
  overflow: hidden;
  border-radius: 8px;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border-radius: 8px;
}

.delete-button {
  background-color: #ff5c2b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.delete-button:hover {
  background-color: #ff6347;
}

.exercise-list {
  margin-top: 20px;
  background-color: #222222;
  padding: 20px;
  border-radius: 8px;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 200px;
}
