/* Espacement pour descendre le conteneur */
body {
  background-color: #0a0a0c; /* Même fond sombre que la page d'accueil */
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  padding-top: 50px; /* Descendre tout le contenu */
}

/* Conteneur principal du profil */
.profile-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #1e1e1e; /* Fond plus foncé */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Titre du profil */
.profile-header {
  font-size: 2em;
  font-weight: bold;
  color: #ff7f2a; /* Couleur orange similaire au texte "TRANSFORMATION" sur la page d'accueil */
  margin-bottom: 20px;
}

/* Informations du profil */
.profile-info {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.profile-info p {
  background: #333;
  padding: 15px 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  color: #ff7f2a; /* Texte en orange pour correspondre à la page d'accueil */
}

.profile-info p span {
  font-weight: bold;
  color: #ffffff; /* Label en blanc pour contraster avec les valeurs en orange */
}

/* Bouton de déconnexion */
.logout-button {
  background-color: #ff7f2a; /* Orange pour correspondre au bouton de la page d'accueil */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #e5661e; /* Teinte plus sombre d'orange au survol */
}


.profile-photo-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.profile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%; /* Rend l'image ronde */
  object-fit: cover;
  border: 2px solid #ddd;
}


.complete-profile-button {
  background-color: #ff7f2a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.complete-profile-button:hover {
  background-color: #e5661e;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.97); /* Increase the alpha value for a darker shadow */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.no-scroll {
  overflow: hidden;
}