/* Navbar styling with smaller size and center alignment */
.navbar {
  position: fixed; /* Keeps the navbar at the top even when scrolling */
  top: 10px; /* Adjusted to lower the navbar */
  left: 50%; /* Start from the middle of the page */
  transform: translateX(-50%); /* Adjust to fully center it */
  width: 50%; /* Reduced width */
  z-index: 1000; /* Ensures it stays on top of other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* Transparent background with a bit more opacity */
  color: white;
  padding: 0.5rem 1.5rem; /* Reduced padding for a smaller navbar */
  font-family: 'Arial', sans-serif;
  backdrop-filter: blur(10px); /* Adds the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  transition: background-color 0.3s ease, top 0.3s ease; /* Smooth background and position transition */
  border: 2px solid #4a4a4a; /* Added dark gray border */
  border-radius: 10px; /* Rounded corners */

}

/* Logo styling */
.navbar-logo img {
  width: 60px; /* Increased logo size */
  width: 120px; /* Reduced logo size */
  height: auto;
  border-radius: 10%; /* Rounded corners */
}

/* Navbar links */
.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-links li {
  margin-left: 1.5rem; /* Reduced space between links */
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem; /* Decreased font size */
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ff5c2b;
}

/* Button styling */
.join-now-btn {
  background-color: #ff5c2b;
  color: white;
  padding: 0.5rem 1.25rem; /* Reduced padding for a smaller button */
  border: none;
  border-radius: 4px;
  font-size: 1rem; /* Decreased button text size */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-now-btn:hover {
  background-color: #d94c1b;
}

/* Social Bar styling */
.social-bar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001; /* Ensure it is above other content */
}
.navbar-hidden {
  top: -100px; /* Cache la barre de navigation en la déplaçant vers le haut */
  transition: top 0.3s ease; /* Transition fluide */
}


.social-bar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-bar a:hover {
  color: #ff5c2b;
}

.social-bar i {
  margin-bottom: 1rem; /* Space between icons */
}
