/* Animation d'apparition */
.fade-appear, .fade-enter {
  opacity: 0;
  transform: scale(0.95);
}

.fade-appear-active, .fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

/* Chargement */
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #100404;
}

.loading-gif {
  width: 800px;
  height: 450px;
}
